<!-- <app-header></app-header> -->
<div>
  <br>
  <h2>User Management</h2>
  <app-user-management></app-user-management>
</div>

<div>
  <br>
  <h2>Order Management</h2>
  <app-order-management></app-order-management>
</div>

<div>
  <br>
  <h2>Confirm Management</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>User ID</th>
      <th>Payment Id</th>
      <th>Order ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Bank</th>
      <th>Date</th>
      <th>Time</th>
      <th>Status</th>
      <th>Amount</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr [hidden]="bankStatements == undefined" *ngFor="let bankStatement of bankStatements">
      <td>{{bankStatement.users[0].id}}</td>
      <td>{{bankStatement.paymentId}}</td>
      <td>{{bankStatement.bankOrderId}}</td>
      <td>{{bankStatement.users[0].firstName}}</td>
      <td>{{bankStatement.users[0].email}}</td>
      <td>{{bankStatement.bankName}}</td>
      <td>{{bankStatement.statementDate}}</td>
      <td>{{bankStatement.statementTime}}</td>
      <td>{{bankStatement.statusBank}}</td>
      <td align="right">{{bankStatement.statementAmount}}</td>
      <td>
        <div [hidden]="bankStatement.statusBank == confirm">
          <button class="btn btn-primary btn-md"
                  (click)="ConfirmPayment(bankStatement.id, bankStatement.users[0].email, bankStatement.paymentId, bankStatement.statementAmount, bankStatement.users[0].balance, bankStatement.bankOrderId)">
            Confirm
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
