.container{
  width: 100%;
  height: 100%;
  background-color: #f5f7f8;
}

.container-fluid {
  padding: 2%;
  margin: 2%;
}

.p-text{
  font-family: Kanit, sans-serif;
  font-size: 18px;
}

.well{
  background-color: white;
}

.select{
  border-radius: 0;
}
