.content {
  margin-top: 5%;
  margin-left: 5%;
}

body {
  font-family: 'Kanit', sans-serif;
  background-color: #ffffff;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #e32d25;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}

