<app-header></app-header>
<!--<hr style="border: solid 2px #dd1d0a; font-weight: 900">-->
<div class="container-fluid">

  <div align="center">
    <div class="row content">
      <div class="col-sm-12">
        <div class="well">
          <h2>แจ้งการชำระเงิน</h2>
          <form name="form">
            <div class="checkbox-container navbar-default">
              <h4 align="left">กรอกรายละเอียดการโอนเงิน</h4>
              <div>
                <div class="form-group" align="left">
                  <label for="amount">จำนวนเงินที่ต้องการเติม</label>
                  <input disabled type="number" class="form-control" placeholder="0.00 บาท"
                         [(ngModel)]="orderPaymentsIds.transAmount"
                         #amount="ngModel" name="amount" id="amount">
                </div>
                <div class="form-group" align="left">
                  <label for="paymentId">เลขที่ใบสั่งซื้อ: {{orderPaymentsIds.id}}</label>
                  <input disabled type="text" class="form-control" [(ngModel)]="orderPaymentsIds.transRef"
                         #paymentId="ngModel" name="paymentId" id="paymentId">
                  <!--orderPaymentsIds.transAmount-->
                </div>
              </div>

              <div class="form-group" align="left">
                <label for="mydate">วัน/เดือน/ปี:</label>
                <my-date-picker name="mydate" [options]="myDatePickerOptions" id="mydate"
                                [(ngModel)]="modelDate" required></my-date-picker>
              </div>

              <div class="form-group" align="left">
                <div class="form-inline">
                  <div class="form-group">
                    <label for="statementTime">เวลาที่โอน:</label>
                    <input type="time" class="form-control" [(ngModel)]="bankStatement.statementTime"
                           placeholder="00:00"
                           #statementTime="ngModel" name="statementTime" id="statementTime">
                  </div>
                </div>

                <div class="form-group ">
                  <h4>เลือกธนาคาร</h4>
                  <div class="row col-sm-12">
                    <div class="col-sm-1">
                      <table class="">
                        <thead>
                        <tr>
                        </tr>
                        </thead>
                        <tbody *ngFor="let item of radioItems">
                        <tr>
                          <td>
                            <br>
                            <input type="radio" name="options" (click)="model.options = item"
                                   [checked]="item === model.options">
                            <!--{{item}}-->
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-sm-11">
                      <table class="">
                        <thead>
                        <tr>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>
                            <br>
                            <img class="gateway_img" [src]="ImgKB"
                                 width="24" height="24">
                            ธ.กสิกรไทย 0092831612 สาขา เชียงใหม่
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <br>
                            <img class="gateway_img"
                                 [src]="ImgKTB"
                                 width="24"
                                 height="24"> ธ.กรุงไทย 9842817679 สาขา นิมมานเหมินท์
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <br>
                            <img class="gateway_img " [src]="ImgBBL" width="24"
                                 height="24"> ธ.กรุงเทพ 9670103432 สาขา นิมมานเหมินทร์
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <br>
                            <img class="gateway_img " [src]="ImgSCB"
                                 width="24"
                                 height="24"> ธ.ไทยพาณิชย์ 8392154995 สาขา นิมมานเหมินทร์
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
              <br>
              <div class="form-group" style="margin-top: 20%">
                <div align="left">
                  <button type="button" class="btn btn-primary btn-md" (click)="Submit()">Confirm</button>
                </div>
              </div>

            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>