<!-- <app-header></app-header> -->
<table class="table table-striped">
  <thead>
  <tr>
    <th>User ID</th>
    <th>First Name</th>
    <th>Password</th>
    <th>Email</th>
    <th>Status</th>
    <th>Balance</th>
    <th>Manage</th>
    <th>Delete User</th>
  </tr>
  </thead>
  <tbody>
  <tr [hidden]="users == undefined" *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.password}}</td>
    <td>{{user.email}}</td>
    <td>{{user.status}}</td>
    <td align="right">{{user.balance}}</td>
    <td>
      <select #categoriesCtrl (change)='SelectedValue = categoriesCtrl.value'>
        <option *ngFor="let category of categories" [value]="category.status">{{category.status}}</option>
      </select>
      <button class="btn btn-warning btn-sm" (click)="getValueFromSelect(user.id)">Change Status</button>
    </td>
    <td>
      <button class="btn btn-danger btn-sm" (click)="DeleteUser(user.id)">Delete Account</button>
    </td>
  </tr>
  </tbody>
</table>
