<div *ngIf="message" class="modal" tabindex="-1" role="dialog" style="display:block!important">
    <div class="modal-dialog custom-modal-container" role="document">
      <div class="modal-content" *ngIf="message?.type == 'confirm'">
        <div class="modal-header">
          <button name="existButton" type="button" class="close" (click)="message.noFn()" style="color: white; font-size: 16px">X</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="double">
                <div *ngFor="let user of users">
                  <div align="center" *ngIf="user.id == currentUser.id">
                    <h4>คุณมีแต้มคงเหลือ {{user.balance}}</h4>
                  </div>
                </div>
                <h3 class="text-center">{{message.text}}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button name="yesButton" type="button" class="btn btn-default" (click)="message.siFn()">Yes</button>
          <button name="noButton" type="button" class="btn btn-default" (click)="message.noFn()">No</button>
        </div>
  
      </div>
    </div>
  </div>