<app-header></app-header>

<div class="container" style="margin-top: 3%">
  <div class="row profile">
    <div class="col-md-3">
      <div class="well2">
        <!-- SIDEBAR USERPIC -->
        <div align="center">
          <!-- <img style="width: 200px; height: auto;" src="data:{{usersId?.userImages[0].contentType}};base64,{{usersId?.userImages[0].content}}"> -->
          <img style="width: 200px; height: auto;" src="{{ url + '/displayImageUser/' + usersId?.userImages[0]?.id}}" />
        </div>

        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name" style="padding: 5px">

          </div>
          <div class="profile-usertitle-job" style="padding: 5px">
            {{usersId.instructorBio}}
          </div>
        </div>

        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a style="color: black">
                <i class="glyphicon glyphicon-home"></i>
                Overview </a>
            </li>
            <li>
              <a style="color: black">
                <i class="glyphicon glyphicon-user"></i>
                Account Settings </a>
            </li>
            <li>
              <a style="color: black">
                <i class="glyphicon glyphicon-ok"></i>
                Tasks </a>
            </li>
            <li>
              <a style="color: black">
                <i class="glyphicon glyphicon-flag"></i>
                Help </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
      <div class="well">โปรเจคทั้งหมดของ {{usersId.firstName}}</div>
      <div class="profile-content">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="float: left; display:inline; margin-right: 30px" *ngFor="let course of coursesList | sortBy:'id'">

          <div *ngIf="usersId.id == course.userId">

            <div class="thumbnail">
              <div class="crop" style="border: solid 1px #e59999;">

                <img style="cursor: pointer" (click)="click(course.id)" class="img" src="{{ url + '/displayImage/' + course.imageCourses[0]?.id}}"
                  alt="" />

              </div>
              <div align="left" [hidden]="course.linkCourse == textNull">
                <a style="cursor: pointer">
                  <span style="font-size: 20px; color: #bf2b2a; float: right; margin-top: -115px; margin-right: 5px" class="glyphicon glyphicon glyphicon-shopping-cart"></span>
                </a>
              </div>

              <div class="caption" align="left">
                <div class="div1">{{course.name}}</div>
                <h6 [hidden]="course.price == empty" class="group inner list-group-item-heading">
                  {{course.price}} บาท.</h6>
                <h6 *ngIf="course.price == empty" class="animated pulse infinite group inner list-group-item-heading" style="color: #bf2b2a">ฟรี</h6>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>