<footer>
  <hr
    style="border: solid 2px #dd1d0a; font-weight: 900; box-shadow: 0 0 2px 2px #cfcfcf; /*THIS does not work as expected*/">
  <div class="container">
    <div class="row col-xs-12">

      <!--<div class="col-md-3 col-sm-6 paddingtop-bottom">-->
      <!--<h6 class="heading7">About</h6>-->
      <!--<ul class="footer-ul">-->
      <!--<li><a href="#"> Privacy statement</a></li>-->
      <!--<li><a href="#"> Term of Service</a></li>-->
      <!--</ul>-->
      <!--</div>-->

      <div class="col-md-3 col-sm-6 col-xs-12 paddingtop-bottom">
        <h6 class="heading7">ติดต่อเรา</h6>
        <ul class="footer-ul">
          <li><p href="#"><span class="fa fa-envelope"></span>&nbsp;&nbsp;&nbsp; tamdainet@gmail.com</p></li>
          <li><p href="#"><span class="fa fa-phone"></span>&nbsp;&nbsp;&nbsp; 081-715-7914</p></li>
          <li><a style="color: #333333;" href="https://www.facebook.com/tamdai.net/"><span
            class="fa fa-facebook-square" style="margin-top: -10px"></span>&nbsp;&nbsp;&nbsp;FB:tamdai.net</a></li>
        </ul>
      </div>

      <div class="col-md-9 col-sm-9 col-xs-12 paddingtop-bottom">
        <h6 class="heading7">สนับสนุนโดย</h6>
        <ul class="footer-ul">
          <li>
            <img style="width: 150px; height: auto; margin-right: 3%; margin-top: 1%"
                 [src]="ImgNIA"
                 alt=""/>
            <img style="width: 150px; height: auto; margin-right: 2%; margin-top: 2%"
                 [src]="ImgPOINTZ"
                 alt=""/>
            <img style="width: 150px; height: auto; margin-right: 2%; margin-top: 2%"
                 [src]="ImgTECH"
                 alt=""/>
        </ul>
      </div>

      <!--<div class="col-md-9 col-sm-9 paddingtop-bottom">-->
      <!--<h6 class="heading7">Social</h6>-->
      <!--<ul class="footer-ul">-->
      <!--<li><a href="https://www.facebook.com/tamdai.net/">-->
      <!--<span class="fa fa-facebook">&nbsp;&nbsp;&nbsp;</span>-->
      <!--</a>-->
      <!--<a href="https://www.youtube.com/"><span class="fa fa-youtube"></span></a></li>-->
      <!--</ul>-->
      <!--</div>-->

      <!--<div class="col-md-3 col-sm-6 paddingtop-bottom">-->
        <!--<h6 class="heading7"></h6>-->
        <!--<ul class="footer-ul">-->
          <!--<li><a href="#"></a></li>-->
        <!--</ul>-->
      <!--</div>-->

    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="col-sm-6 col-md-6 col-xs-12">
        <p>© 2017 People Learn Co.,Ltd All rights reserved</p>
      </div>
      <div class="col-sm-6 col-md-6 col-xs-12">
        <ul class="bottom_ul">
          <li><a href="http://tamdai.net/terms" style="color: #bf2b2a">เงื่อนไขความเป็นส่วนตัว </a></li>
          <li>&nbsp;&nbsp;|&nbsp;เงื่อนไขบริการ</li>
          <!--<li>-->
          <!--<a class="btn btn-block btn-social btn-facebook">-->
          <!--<span class="fa fa-facebook font-footer-design"></span>-->
          <!--</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a class="btn btn-block btn-social btn-instagram">-->
          <!--<span class="fa fa-instagram font-footer-design"></span>-->
          <!--</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a class="btn btn-block btn-social btn-twitter">-->
          <!--<span class="fa fa-twitter font-footer-design"></span>-->
          <!--</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a class="btn btn-block btn-social btn-tumblr">-->
          <!--<span class="fa fa-tumblr font-footer-design"></span>-->
          <!--</a>-->
          <!--</li>-->
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->
