a {
  color: white;
}

textarea {
  -webkit-appearance: textarea;
  background-color: white;
  border: 1px solid;
  border-image: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-box-orient: vertical;
  /*resize: auto;*/
  cursor: auto;
  padding: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
