<div *ngIf="currentUser == null">
  <div class="container-design">
    <spinner icon="bubbles" class="spinner-balanced" color="#e32d25" [size]="130" *ngIf="loading">Loading...</spinner>

    <div class="row" *ngIf="show">

      <div class="col-sm-4">

        <div class="thumbnail">
          <div class="crops">
            <div align="center">
              <img style="width: 100%; height: 230px;" src="{{ url + '/displayImage/' + courses.imageCourses[0]?.id}}" alt="" />
            </div>
          </div>
        </div>

        <div class="panel">
          <!-- <div class="panel-heading">เกี่ยวกับโปรเจคนี้</div> -->
          <div align="center">
            <div *ngIf="courses.linkCourse != nullText" class="panel-body">
              <span>
                <p style="color: #b62415; font-size: 30px" class="fa fa-shopping-basket fa-lg"></p>
              </span>
              <a target="_blank" href="{{courses.linkCourse}}">ซื้ออุปกรณ์ที่เกี่ยวข้อง</a>
            </div>
          </div>

          <div class="panel-body" *ngIf="courses.price == empty">
            <span>
              <i class="fa fa-money"></i>
            </span> โปรเจคฟรี
          </div>
          <div align="center">
            <div [hidden]="courses.price == empty">
              <!-- <p>โปรเจคนี้มีระยะเวลา {{courses.courseAge}} เดือน</p> -->
              <div style="margin: 1%; padding: 1%">
                <button name="openButton" type="button" class="btn btn-danger btn-lg" (click)="openCustom()">
                  เข้าเรียนใช้ {{courses.price}} แต้ม
                </button>

              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <p>เกี่ยวกับผู้สอน</p>
          </div>
          <div *ngFor="let user of users" style="margin-top: 5%">
            <div *ngIf="user.id == courses.userId" style="margin-left: 7px">
              <div class="media-body">
                <div class="profile-header-container">
                  <div class="profile-header-img">
                    <div class="row">
                      <div class="col-sm-12">
                        <div align="center">
                          <div class="circular--portrait">
                              <img style="cursor: pointer" src="{{ url + '/displayImageUser/' + user.userImages[0]?.id}}" (click)="insProfile(user.id)" alt=""
                    />
                          </div>
                          <p style="cursor: pointer" (click)="insProfile(courses.userId)" title="ดูโปรเจคทั้งหมด">
                            {{user.firstName}}</p>
                        </div>
                        <br>
                        <p>{{user.instructorBio}}</p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-8">
        <div class="panel panel-default">
          <div class="panel-heading">{{courses.name}}
          </div>
          <div class="panel-body" style="word-wrap: break-word">{{courses.description}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">เนื้อหาคอร์สเรียน
          </div>

          <body data-spy="scroll" data-target=".navbar" data-offset="50">

            <div class="panel-body">
              <div class="container-fluid">
                <div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th>นาที</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let course of courses?.courseItems| sortBy : 'orderItem'; let i = index">
                        <td>
                          <div class="container-fluid">
                            <div class="row col-sm-12">

                              <!-- Trigger the modal with a text -->

                              <div *ngIf="course.canPreview == truePreview">

                                <div [hidden]="course.courseType == image || course.courseType == text">
                                  <div *ngIf="course.courseText != null">
                                    <a type="text" data-toggle="modal" [attr.data-target]="'#myModal' + course.id" style="cursor: pointer; color: #404040">
                                      <span *ngIf="course.courseType == video" class="glyphicon glyphicon-facetime-video"></span>
                                      <span *ngIf="course.courseType == image" class="glyphicon glyphicon-picture"></span>
                                      <span *ngIf="course.courseType == text" class="glyphicon glyphicon-list-alt"></span>
                                      {{course.name}}
                                    </a>
                                  </div>
                                </div>

                                <div [hidden]="course.courseType == video || course.courseType == text">
                                  <div *ngIf="course.imageItems[0]?.id != undefined">
                                    <a type="text" data-toggle="modal" [attr.data-target]="'#myModal' + course.id" style="cursor: pointer; color: #404040">
                                      <span *ngIf="course.courseType == video" class="glyphicon glyphicon-facetime-video"></span>
                                      <span *ngIf="course.courseType == image" class="glyphicon glyphicon-picture"></span>
                                      <span *ngIf="course.courseType == text" class="glyphicon glyphicon-list-alt"></span>
                                      {{course.name}}
                                    </a>
                                  </div>
                                </div>

                                <div [hidden]="course.courseType == image || course.courseType == video">
                                  <div [hidden]="course.videoClips[0]?.id != undefined">
                                    <!-- <a type="text" data-toggle="modal" [attr.data-target]="'#myModal' + course.id" style="cursor: pointer; color: #404040"> -->
                                    <a target="_blank" [href]="course.courseText" style="cursor: pointer; color: #404040">
                                      <span *ngIf="course.courseType == video" class="glyphicon glyphicon-facetime-video"></span>
                                      <span *ngIf="course.courseType == image" class="glyphicon glyphicon-picture"></span>
                                      <span *ngIf="course.courseType == text" class="glyphicon glyphicon-list-alt"></span>
                                      <!--<a target="_blank" [href]="url + 'playVideo/' + course.videoClips[0]?.id">Link</a>-->
                                      {{course.name}}
                                    </a>
                                  </div>
                                </div>
                                <!--<a target="_blank" [href]="url + 'playVideo/' + course.videoClips[0]?.id">Link</a>-->
                              </div>

                              <div *ngIf="course.canPreview != truePreview">
                                <a type="text" data-toggle="modal" data-target="#squarespaceModalLogin" class="smoothScroll center-block" style="cursor: pointer">
                                  <span *ngIf="course.courseType == video" class="glyphicon glyphicon-facetime-video"></span>
                                  <span *ngIf="course.courseType == image" class="glyphicon glyphicon-picture"></span>
                                  <span *ngIf="course.courseType == text" class="glyphicon glyphicon-list-alt"></span>
                                  {{course.name}}
                                </a>
                              </div>

                              <!-- Modal -->
                              <div data-target="#myModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" class="modal fade" [id]="'myModal' + course.id"
                                role="dialog" tabindex="0" *ngIf="course.canPreview == truePreview">
                                <div class="modal-dialog">
                                  <div class="card-content">

                                    <div align="center" class="video-responsive">
                                      <div *ngIf="course.courseType == image">
                                        <img class="img" style="width: 800px; height: 450px" src="{{url + 'displayImageItem/' + course.imageItems[0]?.id}}" />
                                        <div align="center">
                                          <button name="dataButton" style="cursor: pointer; margin-top: 6px" data-dismiss="modal" class="btn btn-md btn-danger" type="button">ปิดรูปภาพ X
                                          </button>
                                        </div>
                                      </div>
                                      <div align="center" [hidden]="course.courseType == image || course.courseType == text">
                                        <div [hidden]="course.videoClips[0]?.id == undefined">

                                          <div class="video">
                                            <video controls [id]="course.videoClips[0]?.id" preload="auto" width="800" height="450">
                                              <source *ngIf="course.courseType == video" src="{{url + 'playVideo/' + course.videoClips[0]?.id}}" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'>
                                            </video>
                                            <div align="center">
                                              <button name="playButton" style="cursor: pointer" (click)="playPause(course.videoClips[0]?.id)" data-dismiss="modal" class="btn btn-md btn-danger"
                                                type="button">ปิดวิดีโอ X
                                              </button>
                                            </div>
                                          </div>

                                          <div class="overlay" *ngIf="ShowIp">
                                            <form>
                                              <div class="runtext-container">
                                                <div class="main-runtext">
                                                  <marquee direction="" onmouseover="this.stop();" onmouseout="this.start();">
                                                    <div class="holder">
                                                      <div class="text-container">
                                                        {{ipObj._body}}
                                                      </div>
                                                    </div>
                                                  </marquee>
                                                </div>
                                              </div>
                                            </form>
                                          </div>

                                        </div>
                                      </div>
                                      <div align="center" [hidden]="course.courseType == image || course.courseType == text">
                                        <div [hidden]="course.videoClips[0]?.id != undefined">
                                          <div>

                                            <div class="video">
                                              <iframe [id]="course.videoPath" width="800" height="450" [src]="course.videoPath + '?enablejsapi=1' | safety" frameborder="0"
                                                allowfullscreen></iframe>
                                            </div>

                                            <div align="center">
                                              <button name="pauseButton" (click)="PauseYoutube(course.videoPath)" style="cursor: pointer; margin-top: 6px" data-dismiss="modal"
                                                class="btn btn-md btn-danger" type="button">ปิดวิดีโอยูทูป X
                                              </button>
                                            </div>

                                          </div>
                                        </div>
                                      </div>
                                      <div align="center" [hidden]="course.courseType == image || course.courseType == video">
                                        <div *ngIf="course.courseText != null">
                                          <div class="panel panel-default">
                                            <div>
                                              <h2>Hello {{name}}</h2>
                                              <iframe [src]="pdfUrl" width="500" height="600" type='application/pdf'></iframe>
                                            </div>

                                          </div>
                                          <div align="center">
                                            <button name="data1Button" style="cursor: pointer;" data-dismiss="modal" class="btn btn-md btn-danger" type="button">ปิดรูปภาพ X
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </td>
                        <td>
                          <span *ngIf="course.canPreview != truePreview" class="glyphicon glyphicon-lock"></span>
                        </td>
                        <td>
                          <p [hidden]="course.videoTime == empty">{{course.videoTime}}</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </body>
        </div>

      </div>

      <div class="col-sm-12">
        <app-project-recom></app-project-recom>
      </div>

    </div>

  </div>
</div>
<app-loginpage></app-loginpage>