<nav class="navbar-light" style="background-color: #dd1d0a;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" (click)="RobomindHome()" style="cursor: pointer"> <img disabled
                                                                                     [src]="ImgLogo"
                                                                                     style="cursor: pointer; height: 30px; width: 110px; margin-top: -5px"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!currentUser">
          <a href="#" data-toggle="modal" data-target="#squarespaceModalLogin">เข้าสู่ระบบ</a>
        </li>
        <li *ngIf="currentUser">
          <a (click)="logOutRobo()">
            <span class="fa fa-sign-out"></span> ออกจากระบบ</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="currentUser != null && (currentUser.status == user || currentUser.status == admin)">
        <li>
          <a (click)="RobomindCreate()" style="cursor: pointer">
            <span class="glyphicon glyphicon-new-window"></span>
            Create Student</a>
        </li>
        <li>
          <a (click)="RoboticName()" style="cursor: pointer">
            <span class="glyphicon glyphicon-wrench"></span>
            Create Robotic</a>
        </li>
      </ul>
  </div>
</nav>

<div class="container" style="margin-top: 2%">
  <div class="row">

    <div class="col-sm-3">
      <div class="panel panel-danger">
        <div class="panel-heading">Coach Voices</div>
        <div style="overflow-y: scroll; height: 500px">
          <div class="panel-body">

            <!--<form *ngIf="!divComment" class="form-horizontal" role="form" (ngSubmit)="Suggestion()">-->
            <!--&lt;!&ndash;<label for="studentId" class="col-sm-2 control-label">Suggestion</label>&ndash;&gt;-->
            <!--<div class="form-group">-->
            <!--<div class="col-sm-12">-->
            <!--<textarea style="height: 150px" type="text" name="TComment"-->
            <!--class="form-control"-->
            <!--autofocus disabled></textarea>-->
            <!--</div>-->
            <!--</div>-->
            <!--</form>-->

            <form *ngIf="divComment" class="form-horizontal" role="form" (ngSubmit)="Suggestion()">
              <!--<label for="studentId" class="col-sm-2 control-label">Suggestion</label>-->
              <div class="form-group">
                <div class="col-sm-12">
          <textarea style="height: 150px" type="text" name="TComment" [(ngModel)]="content.stContent"
                    #TComment="ngModel" id="TComment"
                    class="form-control"
                    autofocus disabled></textarea>
                  <p align="right" style="margin-right: 5%">{{content.stTeacher}}</p>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-danger">
        <div class="panel-heading">Portfolio</div>
        <div style="overflow-y: scroll; height: 500px">
          <div class="panel-body">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="float:left;"
                 *ngFor="let studentContent of students.contents | sortObject:'id'">
              <div align="center" style="margin: 5%">
                <p>{{studentContent.stTime}} {{studentContent.contentDate | date: 'dd/MM/yyyy'}}</p>
                <p>{{studentContent.rbName}}</p>
                <div class="crop">
                  <img style="cursor: pointer; height: auto" class="img thumbnail" (click)="show(studentContent.id)"
                       src="{{ url + 'displayContent/' + studentContent.contentImgs[0]?.id}}"/>
                </div>
                <a style="color: red; cursor: pointer"
                   [href]="url + 'displayContent/' + studentContent.contentImgs[0]?.id"
                   class="glyphicon glyphicon-download-alt">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-danger">
        <div class="panel-heading">Profile</div>
        <div style="overflow-y: scroll; height: 500px">
          <div class="panel-body">
            <div class="col-sm-12">
              <div align="center">
                <div class="photo-profile">
                  <img style="width: 100%; height: auto; overflow: hidden; box-shadow: 0 0 5px rgba(0, 0, 0, .4);"
                       src="{{ url + 'displayImageStudent/' + students.roboImageSet[0]?.id}}">
                </div>
              </div>
            </div>
            <section id="about" class="section section-about wow fadeInUp"
                     style="visibility: visible; animation-name: fadeInUp;">
              <div class="profile">
                <div class="col-sm-12">
                  <ul class="ul-info">
                    <li class="li-info">
                      <span class="title-info">ชื่อเล่น</span>
                      <span class="info">{{students.stNickname}}</span>
                    </li>
                    <li class="li-info">
                      <span class="title-info">ชื่อ</span>
                      <span class="info">{{students.stFirstname}}</span>
                    </li>
                    <li class="li-info">
                      <span class="title-info">นามสกุล</span>
                      <span class="info">{{students.stLastname}}</span>
                    </li>
                    <li class="li-info">
                      <span class="title-info">อายุ</span>
                      <span class="info">{{students.stAge}}</span>
                    </li>
                    <li class="li-info">
                      <span class="title-info">วันเกิด</span>
                      <span class="info">{{students.stDate | date: 'dd-MM-yyyy'}}</span>
                    </li>
                    <li class="li-info">
                      <span class="title-info">โรงเรียน</span>
                      <span class="info">{{students.stSchool}}</span>
                    </li>
                    <li class="li-info">
                      <span class="title-info">ผู้ปกครอง</span>
                      <span class="info">{{students.stParent}}</span>
                    </li>
                    <li class="li-info">
                      <span class="title-info">โทรศัพท์</span>
                      <span class="info">{{students.stMobile}}</span>
                    </li>
                    <li class="li-info">
                      <span class="title-info">วันที่เริ่มเรียน</span>
                      <span class="info">{{students.stStart | date: 'dd-MM-yyyy'}}</span>
                    </li>
                    <li class="li-info">
                      <span class="info">{{students.stEmail}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
