<div class="container-fluid custom-modal-container">
  <div class="row custom-modal-header">
    <div class="col-sm-12">
      <button name="dialogButton" type="button" class="close" (click)="dialog.close()" aria-label="Close">
        <h4 style="color: white">X</h4>
      </button>
    </div>
  </div>
  <div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <div class="double">
        <div align="center">
          <div class="">
            <h4>เข้าสู่ระบบหรือสมัครสมาชิก</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button name="dialog1Button" type="button" class="btn btn-default" (click)="dialog.close()">ตกลง</button>
  </div>
</div>
